.entrada{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    overflow-y: auto;

}
.cards{
    display: flex;
    justify-content:start;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 0.756rem 0;
    margin-bottom: 15px;
    align-items: center;
}
.cards img{
    max-height: 20px;
    max-width: 20px;
    margin-left: 1rem;
}
.cards h3{
    margin-left: 1rem;
    /* con esto hago que las palabras grandes no sobrepasen el contenedor */
    word-break: break-all;
    /* word-wrap: break-word;
    overflow-wrap: break-word; */

}